@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Calibri", "Trebuchet MS", sans-serif;
  }

  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 16%);
    --card: hsl(25 100% 95%);
    --card-foreground: hsl(0 0% 16%);
    --popover: hsl(25 100% 95%);
    --popover-foreground: hsl(0 0% 16%);
    --primary: hsl(36 100% 50%);
    --primary-foreground: hsl(0 0% 0%);
    --primary-dark: hsl(36 100% 33%);
    --primary-light: hsl(36 100% 62%);
    --primary-lighter: hsl(36 100% 70%);
    --secondary: hsl(0 0% 94.1%);
    --secondary-foreground: hsl(0 0% 9%);
    --secondary-dark: hsl(0 0% 85%);
    --muted: hsl(25 100% 95%);
    --muted-foreground: hsl(0 0% 25%);
    --accent: hsl(25 100% 95%);
    --accent-foreground: hsl(0 0% 9%);
    --destructive: hsl(0 84.2% 48%);
    --destructive-foreground: hsl(0 0% 98%);
    --destructive-dark: hsl(0 84.2% 40%);
    --destructive-light: hsl(0 84.2% 68%);
    --destructive-lighter: hsl(0 84.2% 74%);
    --border: hsl(0 0% 79.8%);
    --input: hsl(0 0% 79.8%);
    --ring: hsl(0 0% 3.9%);
    --radius: 0.5rem;
    --bg-muted: hsl(0 0% 100%);
  }
  .high-contrast {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 0%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 0%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 0%);
    --primary: hsl(0 0% 0%);
    --primary-foreground: hsl(0 0% 100%);
    --primary-dark: hsl(0 0% 0%);
    --primary-light: hsl(0 0% 18%);
    --primary-lighter: hsl(0 0% 28%);
    --secondary: hsl(0 0% 75%);
    --secondary-foreground: hsl(0 0% 0%);
    --secondary-dark: hsl(0 0% 65%);
    --muted: hsl(0 0% 72%);
    --muted-foreground: hsl(0 0% 0%);
    --accent: hsl(0 0% 72%);
    --accent-foreground: hsl(0 0% 0%);
    --destructive: hsl(0 100% 35%);
    --destructive-foreground: hsl(0 0% 100%);
    --destructive-dark: hsl(0 100% 35%);
    --destructive-light: hsl(0 75.9% 45%);
    --destructive-lighter: hsl(0 58.3% 52%);
    --border: hsl(0 0% 0%);
    --input: hsl(0 0% 0%);
    --ring: hsl(36 100% 40%);
  }
  .dark {
    --background: hsl(0 0% 16%);
    --foreground: hsl(0 0% 100%);
    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(33 100% 50%);
    --primary-foreground: hsl(0 0% 9%);
    --primary-dark: hsl(33 100% 43%);
    --primary-light: hsl(33 96.6% 58%);
    --primary-lighter: hsl(33 92.6% 66%);
    --secondary: hsl(0 0% 22%);
    --secondary-foreground: hsl(0 0% 98%);
    --secondary-dark: hsl(0 0% 28%);
    --muted: hsl(25 100% 10%);
    --muted-foreground: hsl(0 0% 63.9%);
    --accent: hsl(33 15% 22%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --destructive-dark: hsl(0 70% 66%);
    --destructive-light: hsl(0 59.4% 38%);
    --destructive-lighter: hsl(0 55.5% 45%);
    --border: hsl(0 0% 28%);
    --input: hsl(0 0% 28%);
    --ring: hsl(0 0% 83.1%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
